In [1]:
import pandas as pd
import os
import numpy as np
import csv
import math

In [2]:
fin_path ='C:/Users/eaststate/Desktop/스마/Project_Stock_Screener/data/naver_finance'
fin_file = os.listdir(fin_path)

fin_file_path = []
for i in fin_file:
    fin_file_path.append(fin_path+"/"+i)

In [ ]:

price_path ='C:/Users/eaststate/Desktop/스마/Project_Stock_Screener/data/stock_price'
price_file = os.listdir(price_path)

price_file_path = []
for i in price_file:
    price_file_path.append(price_path+"/"+i)
price_df = pd.read_csv(price_file_path[0],encoding='utf-8',index_col=0)


change_list = ['종목코드','170401-180331','180401-190331','190401-200331']

change_df = pd.DataFrame(columns=change_list)

for i in range(len(price_file_path)):
    title = price_file_path[i]
    price_df = pd.read_csv(title,encoding='utf-8',index_col=0)
    change_dict={}
    for p in range(price_df.shape[0]):
        date= price_df.iloc[p,0]
        
price_df

In [27]:

price_path ='C:/Users/eaststate/Desktop/스마/stock_value'
price_file = os.listdir(price_path)

price_file_path = []
for i in price_file:
    price_file_path.append(price_path+"/"+i)
price_df = pd.read_csv(price_file_path[0],encoding='utf-8',index_col=0)


annual_price_list = ['종목코드','2015','2016','2017','2018','2019','2020']

annual_price_df = pd.DataFrame(columns=annual_price_list)

date_list_0331=[]
date_list_0330=[]
date_list_0401=[]
for i in range(2015,2021):
    date_list_0331.append(str(i)+'.03.31')
    date_list_0330.append(str(i)+'.03.30')
    date_list_0401.append(str(i)+'.04.01')
#

for i in range(len(price_file_path)):
    title = price_file_path[i]
    price_df = pd.read_csv(title,encoding='utf-8',index_col=0)
    change_dict={}

    for p in range(price_df.shape[0]):
        date= price_df.iloc[p,0]
        if date in date_list_0331:
            change_dict[date] = price_df.iloc[p,1]
        elif date in date_list_0330:
            change_dict[date] = price_df.iloc[p,1]
        elif date in date_list_0401:
            change_dict[date] = price_df.iloc[p,1]
    temp_dict=change_dict
    new_dict={}
    for s in range(2015,2021):
        for q in temp_dict:
            if str(s) in q:
                new_dict[q] = temp_dict[q]
                break
    row_list=[]
    row_list.append(price_file[i][0:6])
    for i in range(2015,2021):
        var = np.nan
        for p in new_dict:
            if str(i) in p:
                var =new_dict[p]
        row_list.append(var)
    annual_price_df.loc[len(annual_price_df)] = row_list

annual_price_df

       종목코드      2015      2016      2017      2018      2019      2020
0    000070   91000.0  157500.0  123500.0   98000.0   83500.0   41350.0
1    000080   22100.0   26950.0   20350.0   22450.0   18350.0   26950.0
2    000100  200000.0  281000.0  222500.0  222000.0  241500.0  224500.0
3    000120  195000.0  187000.0  166500.0  137500.0  169500.0  128000.0
4    000150  108500.0   85700.0   94700.0  106500.0   96100.0   35000.0
..      ...       ...       ...       ...       ...       ...       ...
195  282330       NaN       NaN       NaN  169000.0  211000.0  127500.0
196  285130       NaN       NaN       NaN  105000.0   70400.0   81500.0
197  294870       NaN       NaN       NaN       NaN   51200.0   15700.0
198  298040       NaN       NaN       NaN       NaN   41450.0   13150.0
199  316140       NaN       NaN       NaN       NaN   14150.0    7270.0

[200 rows x 7 columns]

In [50]:
change_price_list = ['종목코드','15-16','16-17','17-18','18-19','19-20']

change_price_df = pd.DataFrame(columns=change_price_list)

line= annual_price_df.shape[0]
for i in range(line):
    temp_df = annual_price_df.loc[i]
    change_row_list=[]
    change_row_list.append(temp_df.iloc[0])
    for i in range(1,6):
        a = temp_df.iloc[i]
        b = temp_df.iloc[i+1]
        c = b/a
        change_row_list.append(c)
    change_price_df.loc[len(change_price_df)] = change_row_list

change_price_df.to_csv('change_price_df.csv',encoding='utf-8')

In [48]:
group_price_list = ['종목코드','15-16','16-17','17-18','18-19','19-20']

group_price_df = pd.DataFrame(columns=group_price_list)

line_change= change_price_df.shape[0]

for i in range(line_change):
    temp_df = change_price_df.loc[i]
    group_row_list=[]
    group_row_list.append(temp_df.iloc[0])
    for i in range(1,6):
        a = temp_df.iloc[i]
        if a >1.15:
            binary = 2
        elif a > 1:
            binary = 1
        elif a<1:
            binary =0
        else:
            binary = np.nan
            
        group_row_list.append(binary)
    group_price_df.loc[len(group_price_df)] = group_row_list

group_price_df.to_csv('group_price_df.csv',encoding='utf-8')

In [45]:
bal_list = ['종목코드','해당년도','매출증감비율','영업이익증감비율','당기순이익증감비율','자산총계증감비율','부채비율','부채증감비율','PBR','PER','log(PBR증감비율)','OPM','자본유보율','ROE','ROA','현금배당성향']
bal_df = pd.DataFrame(columns=bal_list)


bal_df
    
    

year_list=['2016/12','2017/12','2018/12','2019/12']

for q in range(len(fin_file_path)):
    fin_df = pd.read_csv(fin_file_path[q],encoding='cp949',index_col=1,skiprows=[0], thousands=',')
    fin_df= fin_df.iloc[:,1:8]
    for i in range(len(year_list)):
        append_list =[]
        stock_code = fin_file[q][0:6]
        stock_code = stock_code.replace('.csv','')
        append_list.append(stock_code)
        temp_list = append_list
        temp_list.append(year_list[i])
        mean_asset = (fin_df.iloc[7,i]+fin_df.iloc[7,i+1])/2
        sales_shift= (fin_df.iloc[0,i+1]-fin_df.iloc[0,i])/mean_asset
        operating_revenue_shift= (fin_df.iloc[2,i+1]-fin_df.iloc[2,i])/mean_asset
        net_revenue_shift= (fin_df.iloc[4,i+1] -fin_df.iloc[4,i])/mean_asset
        asset_shift_ratio=fin_df.iloc[7,i+1]/fin_df.iloc[7,i]
        debt_shift_ratio=fin_df.iloc[8,i+1]/fin_df.iloc[8,i]
        debt_ratio= fin_df.iloc[23,i+1]
        PER=fin_df.iloc[26,i+1]
        PBR=fin_df.iloc[28,i+1]
        PBR_shift_ratio_log=math.log(fin_df.iloc[28,i+1]/fin_df.iloc[28,i])
        reserve_ration=fin_df.iloc[24,i+1]
        ROE=fin_df.iloc[21,i+1]
        ROA = fin_df.iloc[22,i+1]
        OPM = fin_df.iloc[19,i+1]
        cash_dividend_payout=fin_df.iloc[31,i+1]
        #항목 더하기
        item_list =[sales_shift, operating_revenue_shift, net_revenue_shift, asset_shift_ratio, debt_ratio, debt_shift_ratio, PBR, PER, PBR_shift_ratio_log, OPM, reserve_ration, ROE, ROA, cash_dividend_payout]
        temp_list.extend(item_list)
        bal_df.loc[len(bal_df)] = temp_list
        
bal_df = bal_df.dropna()

bal_df

C:\Users\eaststate\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in double_scalars
C:\Users\eaststate\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: RuntimeWarning: divide by zero encountered in double_scalars

,종목코드,해당년도,매출증감비율,영업이익증감비율,당기순이익증감비율,자산총계증감비율,부채비율,부채증감비율,PBR,PER,log(PBR증감비율),OPM,자본유보율,ROE,ROA,현금배당성향
0,000070,2016/12,0.045475,0.010992,-0.004134,1.031907,71.26,1.034272,0.68,46.87,-0.302281,6.10,2881.71,1.68,2.09,68.45
1,000070,2017/12,0.026313,-0.013095,0.000652,1.033634,68.88,1.013194,0.69,28.72,0.014599,4.12,2928.91,2.76,2.08,41.08
2,000070,2018/12,0.050745,0.012049,0.010714,1.011538,65.53,0.981814,0.43,9.95,-0.472906,5.40,3047.14,5.03,3.11,22.13
3,000070,2019/12,-0.021700,-0.017122,-0.011734,1.083198,76.87,1.189115,0.37,19.25,-0.150282,3.19,3077.36,2.18,1.80,50.19
4,000080,2016/12,-0.005043,-0.002915,-0.004372,0.982835,163.26,0.987499,1.14,39.18,-0.075986,6.56,271.98,2.94,1.12,163.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,282330,2019/12,0.093133,0.003885,-0.001532,1.465264,248.93,1.612863,4.70,19.35,-0.363460,3.31,3372.48,26.46,8.28,30.81
786,285130,2018/12,0.662611,0.028422,-0.003365,1.020079,168.87,1.037338,1.32,151.41,inf,3.34,1020.34,0.87,-0.85,87.64
787,285130,2019/12,0.029149,0.016950,0.010484,1.092731,196.60,1.153281,1.18,79.34,-0.112117,5.63,1003.20,1.51,0.25,56.68
791,294870,2019/12,0.307085,0.050383,0.039642,0.906691,97.58,0.721365,0.53,2.89,-0.833729,13.08,916.87,20.30,8.92,5.31
795,298040,2019/12,0.430737,0.021605,0.003794,1.165564,303.92,1.190877,0.27,18.91,-0.465363,3.45,1910.73,1.45,0.43,0.00

In [47]:
bal_df.to_csv('raw.csv',encoding='cp949')